{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>

    <table>
        <thead>
        <tr>
            <th>Annonce</th>
            <th>Nombre de photos</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('ad_show', {'id': ad[0].id}) }}">{{ ad[0].title }}</a></td>
                <td>{{ ad.photo_count }}</td>
                <td>
                    <form method="post" action="{{ path('ad_publish', {'id': ad[0].id}) }}">
                        <button type="submit">Publier</button>
                    </form>
                    <form method="post" action="{{ path('ad_reject', {'id': ad[0].id}) }}">
                        <button type="submit">Rejeter</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
